/* LandingPage.css */

@import '@fontsource-variable/anybody';

.textInput {
  &::placeholder {
    color: darkgray;
    text-align: left;
  }
  background-color: var(--mantine-color-blue-2);
  color: black;
  font-size: 20px;
  text-align: left;
}

/* Why the hell does textInput and passwordInput differ in how the placeholder is applied? */

.mantine-PasswordInput-innerInput {
  text-align: left;
}

.passwordInput {
  ::placeholder {
    color: darkgray;
    text-align: left;
  }
  background-color: var(--mantine-color-blue-2);
  color: black;
  font-size: 20px;
  /* &::input {
    text-align: center;
  }
  &::innerInput {
    text-align: center;
  } */
  text-align: center; /* Why the hell does this not work? */
}

/* .datePickerInputPlaceholder {
  color: var(--mantine-color-blue-5);
} */

.innerInput { 
  text-align: center;
}

.gradient-background {
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.starsBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40vh; /* Limit the height to 20% of the viewport height */
  /* z-index: -1; */
  pointer-events: none; /* Ensure the background does not interfere with user interactions */
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-0 {
  z-index: 0;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}